<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li><input type="checkbox"  <%= "checked" if task.completed %>>
     <%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<%= link_to "Add a task", create_task_path %>
